#ks_js_utils_path{
  display:none;
}
#ks_meta label {
  display: block;
}

#ks_slide_meta .slide_edit .clear_img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  line-height: 16px;
  height: 16px;
  background-color: #fff;
  font-size: 16px;
  text-align: center;
  width: 16px;
}
#ks_slide_meta .slide_edit .kf_img_wrap:hover .clear_img {
  display: inline-block;
}
.learn_more:hover {
  color: #25BC00;
}
#kcdl_box_link_meta {
  position: relative;
}
#kcdl_box_btn_wrap {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  height: 36px;
  width: 100%
}
#add_kcdl_box {
  cursor: pointer;
}
#add_box_btn {
  position: absolute;
  top: -47px;
  right: 2px;
}
/*   ---------   Create/edit meta   ---------    */

#ks_slide_meta .kf_text_wrap input[type="text"] {
  display: block;
  padding: .5em;
  width: 100%;
}
#ks_slide_meta .slide_edit {
  position: relative;
  padding:5px;
}
#ks_slide_meta .slide_edit .kf_img_wrap {
  float: left;
  width: 33%;
  position: relative;
  margin-bottom:0;
}
#ks_slide_meta .slide_edit .kf_img_wrap .upload_img {
  float: right;
  margin-right: -1px;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  margin-top: -1px;
  border-radius: 0 0 0 .5em;
  padding: .5em;
  border-right: 1px solid #999;
}
#ks_slide_meta .slide_edit .img_prev {
  /*min-height: 229px;*/
  height: auto;
  background: url("../images/no_image.gif") no-repeat 50% 46%;
  width: 100%;
}
#ks_slide_meta .slide_edit .slide_details {
  float: right;
  width: 65%;
}
#ks_slide_meta .slide_edit .slide_details .subtitle {
  font-weight: normal;
  color: #9c9c9c;
  margin: 0;
  padding-left: 0;
  width: 60%;
}
#ks_slide_meta .slide_edit .slide_details .learn_more {
  color: #44A033;
  font-weight: bold;
  width: 33%;
}
/*----------TOOLBAR----------*/
#ks_slide_meta .ks_slide_toolbar{
    float:right;
    width:auto;
}

#ks_slide_meta .ks_slide_toolbar span {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  padding: 0.1em;
  border-radius: 0.1em;
  text-align: center;
  margin-left: 0.1em;
  cursor:pointer;
  background-color:#fff;
}
#ks_slide_meta .ks_slide_toolbar span.move_slide {
  line-height: .6em
}
#ks_slide_meta .ks_slide_toolbar span.remove_slide:hover {
  color: red;
}
#ks_slide_meta .ks_slide_toolbar span.save_slide:hover {
  color: green;
}

#ks_slide_meta .slide_footer {
  display:block;
  float:right;
  width:65%;
}

#ks_slide_meta .slide_footer .slide_messages {
  /*display: none;*/
  box-sizing: border-box;
  overflow: hidden;
  padding-right: 10px;
  text-align:center;
  line-height:2em;
  color:#006017;
}
#ks_slide_meta .slide_footer .slide_messages.error {
  color:#9C0000;
}